[submodule "telepathic-element"]
	path = telepathic-element
	url = https://github.com/telepathic-elements/telepathic-element.git
[submodule "explainer-widget-element"]
	path = explainer-widget-element
	url = https://github.com/telepathic-elements/explainer-widget-element.git
