[submodule "telepathic-loader"]
	path = telepathic-loader
	url = https://github.com/telepathic-elements/telepathic-loader.git
[submodule "telepathic-element"]
	path = telepathic-element
	url = https://github.com/telepathic-elements/telepathic-element.git
[submodule "header-element"]
	path = header-element
	url = https://github.com/telepathic-elements/header-element.git
[submodule "footer-element"]
	path = footer-element
	url = https://github.com/telepathic-elements/footer-element.git
[submodule "nav-menu-element"]
	path = nav-menu-element
	url = https://github.com/telepathic-elements/nav-menu-element.git
[submodule "explainer-widget-element"]
	path = explainer-widget-element
	url = https://github.com/telepathic-elements/explainer-widget-element.git
[submodule "my-telepathic-element"]
	path = my-telepathic-element
	url = https://github.com/telepathic-elements/my-telepathic-element.git
[submodule "hangman-svg-element"]
	path = hangman-svg-element
	url = https://github.com/telepathic-elements/hangman-svg-element.git
[submodule "hangman-keyboard-element"]
	path = hangman-keyboard-element
	url = https://github.com/telepathic-elements/hangman-keyboard-element.git
[submodule "hangman-game-element"]
	path = hangman-game-element
	url = https://github.com/telepathic-elements/hangman-game-element.git
[submodule "web3-service-loader"]
	path = web3-service-loader
	url = https://github.com/telepathic-elements/web3-service-loader.git
[submodule "qr-code-element"]
	path = qr-code-element
	url = https://github.com/telepathic-elements/qr-code-element.git
[submodule "qr-code-demo-element"]
	path = qr-code-demo-element
	url = https://github.com/telepathic-elements/qr-code-demo-element.git
